<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style type="css">
      box.p-box {
        width: 500px;
        height: 500px;
        margin: auto;
        margin-top;
      }
    </style>
  </head>
  <body>
    <div class="p-box">
      <div class="s-box">good</div>
    </div>
  </body>
</html>
