<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Design -->
    <link rel="stylesheet" href="/css/comp/init.css" />
    <link rel="stylesheet" href="/css/comp/nav-top.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- 구글 웹폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- Sweet Alert2 -->
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css" />

    <title>Document</title>
  </head>

  <body>
    <!-- Top Nav 컴포넌트 삽입 -->
    <header class="nav-top-container">
      <nav class="nav-top">
        <ol class="nav-top-item-box">
          <li class="nav-top-item">
            <a href="/">
              <img src="/image/top-nav-logo.png" alt="" />
            </a>
          </li>

          <li class="nav-top-item">
            <!-- <a href="">About Us<br /><span>About Us</span></a> -->
          </li>

          <li class="nav-top-item">
            <!-- <a href="">장학금 소개<br /><span>About Scholarships</span></a> -->
          </li>

          <li class="nav-top-item">
            <a href="">회원가입<br /><span>Sign up</span></a>
          </li>

          <li class="nav-top-item">
            <a href="">로그인<br /><span>Login</span></a>
          </li>
        </ol>
      </nav>
    </header>
    <!-- / Comp -->

    <div class="index-container">
      <div class="reg-selectbox">
        <button class="r">
          <a href="/auth/registration-rt">장학금 신청하기</a>
        </button>
        <button class="m">미션장학금 신청하기</button>
      </div>
    </div>
  </body>
</html>
