<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Design -->
    <link rel="stylesheet" href="/css/comp/init.css" />
    <link rel="stylesheet" href="/css/comp/nav-top-login.css" />
    <link rel="stylesheet" href="/css/page/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- 구글 웹폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>

  <body>
    <header class="nav-top-container">
      <nav class="nav-top">
        <ol class="nav-top-item-box">
          <li class="nav-top-item">
            <a href="/">
              <img src="/image/top-nav-logo.png" alt="" />
            </a>
          </li>

          <li class="nav-top-item">
            <!-- <a href="">About Us<br /><span>About Us</span></a> -->
          </li>

          <li class="nav-top-item">
            <!-- <a href="">장학금 소개<br /><span>About Scholarships</span></a> -->
          </li>

          <li class="nav-top-item">
            <!-- <a href="/auth/registration">회원가입<br /><span>Sign up</span></a> -->
          </li>

          <li class="nav-top-item login-user-box">
            <!-- <a href="">로그인<br /><span>Login</span></a> -->
            <div class="nav-top-image-box">
              <img src="/image/top-nav-user-img-df.png" alt="" />
            </div>
            <div class="nav-top-name-box">
              <div class="user-name">이용걸</div>
              <div class="user-type">Remnant</div>
            </div>
            <!-- HTML CSSResult Skip Results Iframe EDIT ON -->
            <div class="nav-top-user-menu-box">
              <ul class="menu">
                <li>
                  <a href="#"><i class="fas fa-align-left"></i></a>
                  <ul class="sub">
                    <li>
                      <a class="user-menu-first" href="/"
                        >장학금신청하기<br /><span
                          >Apply for a scholarship</span
                        ></a
                      >
                    </li>
                    <li>
                      <a class="user-menu-item" href="/auth/mypage"
                        >마이페이지<br /><span>my page</span></a
                      >
                    </li>
                    <li>
                      <a class="user-menu-last" href="/auth/logout-process"
                        >로그아웃<br /><span>Log out</span></a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- HTML CSSResult Skip Results Iframe EDIT ON -->
          </li>
        </ol>
      </nav>
    </header>
    <div class="index-container">
      <div class="index-container-left">
        <img src="/image/index-lift-box-item.png" alt="" />
      </div>
      <div class="index-container-center">
        <div class="index-hero">
          <div class="index-hero-first-box">
            <div class="index-hero-first-box-title">
              <span>Yewon Remnant<br />Scholarship</span><br /><span
                class="index-hero-first-subtitle"
                >차세대 선교사들을 위한 발판 예원 렘넌트 장학금</span
              >
            </div>
            <div>
              <a href="" class="index-hero-first-box-apply"
                >2021 장학금 신청하기 GO!</a
              >
            </div>
          </div>

          <div class="index-hero-second-box">
            <img
              class="index-hero-second-box-img"
              src="/image/index-text@2x.png"
              alt=""
            />
          </div>
        </div>
        <footer class="index-footer"></footer>
      </div>
      <div class="index-container-right"></div>
    </div>
  </body>
</html>
