<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Design -->
  <link rel="stylesheet" href="/css/comp/init.css" />
  <link rel="stylesheet" href="/css/comp/nav-top.css" />
  <link rel="stylesheet" href="/css/page/index.css" />
  <link rel="stylesheet" href="/css/page/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />

  <title>Document</title>
</head>

<body>
  <header class="nav-top-container">
    <nav class="nav-top">
      <ol class="nav-top-item-box">
        <li class="nav-top-item">
          <a href="#">
            <img src="/image/top-nav-logo.png" alt="" />
          </a>
        </li>

        <li class="nav-top-item">
          <a href="">About Us<br /><span>About Us</span></a>
        </li>

        <li class="nav-top-item">
          <a href="">장학금 소개<br /><span>About Scholarships</span></a>
        </li>

        <li class="nav-top-item">
          <a href="/auth/registration">회원가입<br /><span>Sign up</span></a>
        </li>

        <li class="nav-top-item">
          <a href="">로그인<br /><span>Login</span></a>
        </li>
      </ol>
    </nav>
  </header>
  <div class="index-container">
    <div class="index-container-left">
      <img src="/image/index-lift-box-item.png" alt="" />
    </div>
    <div class="index-container-center">
      <div class="index-hero">
        <div class="index-hero-first-box">
          <div class="index-hero-first-box-title">
            <span>Yewon Remnant<br />Scholarship</span><br /><span class="index-hero-first-subtitle">차세대 선교사들을 위한 발판 예원
              렘넌트 장학금</span>
          </div>
          <div>
            <a href="" class="index-hero-first-box-apply">2021 장학금 신청하기 GO!</a>
          </div>
        </div>

        <div class="index-hero-second-box">
          <img class="index-hero-second-box-img" src="/image/index-text@2x.png" alt="" />
        </div>
      </div>
      <footer class="index-footer"></footer>
    </div>
    <div class="index-container-right"></div>
  </div>
</body>

</html>