<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/comp/init.css" />

    <link rel="stylesheet" href="/css/css/login.css" />
    
    
    <!-- 구글 웹폰트 -->
    <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet"
    />
    
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    
    <!-- Sweet Alert2 --> 
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">

    <!-- 페이지 JS 로딩 --> 
    <script src="/js/auth/registration-rt.js" defer> </script>
    
    <title>Login</title>
  </head>
  <body>
  
    <!-- 로그인창 시작 --> 
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <img src="/image/login-logo.png" alt="">
          <input id="id" type="text" placeholder="Email"/>
          <input id="pw" type="password" placeholder="password"/>
          <a href="/index-login" style="display: inline-block; z-index: 10;">
            <button>
              <a href="/index-login">
              login
            </a>
            </button>
          </a>
          
          <p class="message">Not registered? <a href="/auth/registration">Create an account</a></p>
        </form>
      </div>
    </div>
    <!-- / Comp -->

    </body>
  </body>
</html>

<!-- Copyright (c) 2021 by neoinsp (https://codepen.io/neoinsp/pen/eYEzBvQ)
Fork of an original work Flat HTML5/CSS3 Login Form (https://codepen.io/colorlib/pen/rxddKy

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


 -->
