<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Design -->
  <link rel="stylesheet" href="/css/comp/init.css" />
  <link rel="stylesheet" href="/css/comp/nav-top.css" />
  <link rel="stylesheet" href="/css/page/registration.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />


  <title>Document</title>
</head>

<body>
  <header class="nav-top-container">
    <nav class="nav-top">
      <ol class="nav-top-item-box">
        <li class="nav-top-item">
          <a href="#">
            <img src="/image/top-nav-logo.png" alt="" />
          </a>
        </li>

        <li class="nav-top-item">
          <a href="">About Us<br /><span>About Us</span></a>
        </li>

        <li class="nav-top-item">
          <a href="">장학금 소개<br /><span>About Scholarships</span></a>
        </li>

        <li class="nav-top-item">
          <a href="">회원가입<br /><span>Sign up</span></a>
        </li>

        <li class="nav-top-item">
          <a href="">로그인<br /><span>Login</span></a>
        </li>
      </ol>
    </nav>
  </header>
  <div class="index-container">
    <div class="reg-selectbox">
      <button class="r">
        <a href="/auth/registration-rt">렘넌트 회원가입</a></button>
      <button class="m">교역자 회원가입</button>
      <button class="p">전문가 회원가입</button>
      <button class="w">사역자 회원가입</button>
    </div>
  </div>
</body>

</html>