// Variables

//midea Quray
$breakpoint-mobile: 320px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// Default color
$ywr-blue: #417cdb !global;
$ywr-green: #89c923 !global;

// background
$bg-lv-01: #ffffff !global;
$bg-lv-00: #eeeeee !global;

// text
$text-place-holder: #797979 !global;
$text-lv-06: #ffffff !global;
$text-lv-05: #bebebe !global;
$text-lv-04: #9e9e9e !global;
$text-lv-03: #555555 !global;
$text-lv-02: #2e2e2e !global;
$text-lv-01: #000000 !global;

// border
$border-default: #444343 !global;

// Component width & height
$width-login-box-01: 596px !global;
$height-login-box-01: 800px !global;
$height-login-box-01_header: 208px !global;
$width-login-box-02: 480px !global;
$height-login-box-01_article: 70px !global;

$width-login-box-mobile-01: 270px !global;
$height-login-box-mobile-01: 500px !global;
$height-login-box-mobile-01_header: 93.5px !global;
$width-login-box-mobile-02: 230px !global;
$height-login-box-mobile-01_article: 70px !global;
