@import './mixin';
@import './variables';

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
header.nav-top-container {
  // @include debugGreen();
  position: fixed;
  z-index: 5;
  @include initBox(100%, 100px, 0, 0, $bg-lv-01);
  box-shadow: 3px 3px 3px 3px rgb(224, 224, 224);
  margin: auto;
  padding-top: 45px;
  nav.nav-top {
    // @include debugRed();
    ol.nav-top-item-box {
      // @include debugBlue();
      @include stayCenter(1300px, 50px);
      display: grid;
      grid-template-columns: 750px 120px 120px 120px 1fr;
      list-style: none;
      li.nav-top-item {
        // @include debugRed();
        text-align: center;
        padding-top: 10px;
        a {
          // @include debugBlue();
          display: block;
          @include setFont(15px, 400, $text-lv-02);
          span {
            display: block;
            padding-top: 5px;
            @include setFont(12px, 300, $text-lv-04);
          }
        }
      }
      li:first-child {
        text-align: left;
        padding-top: 0;
      }
      li.login-user-box {
        //디버깅 옵션
        // @include debugBlue();
        //블록 관련 처리
        // padding-left:;
        // margin-left:;
        // border: ;
        //폰트 관련 처리
        //태그 관련 처리
        //배치 관련 처리
        display: grid;
        grid-template-columns: 50px 100px 1fr;
        div.nav-top-image-box {
          //디버깅 옵션
          // @include debugRed();
          //블록 관련 처리
          @include initBox(40px, 40px, 0, 0, $bg-lv-00);
          // padding-left:;
          // margin-left:;
          border: 3px solid $ywr-blue;
          border-radius: 50%;
          //폰트 관련 처리
          //태그 관련 처리
          img {
            //디버깅 옵션
            // @include debugRed();
            //블록 관련 처리
            @include initBox(34px, 34px, 0, 0, $bg-lv-00);
            // padding-left:;
            // padding-right: 3px;
            // margin-left:;
            border: 3px solid $ywr-green;
            border-radius: 50%;
            //폰트 관련 처리
            //태그 관련 처리
          }
        }
        div.nav-top-name-box {
          //디버깅 옵션
          // @include debugBlue();
          //블록 관련 처리
          @include initBox(auto, auto, 7px, 0, $bg-lv-01);
          padding-left: 12px;
          // margin-left:;
          // border: ;
          //폰트 관련 처리
          text-align: left;
          //태그 관련 처리
          //배치 관련 처리
          div:first-child {
            @include setFont(15px, 600, $text-lv-02);
          }
          div:last-child {
            @include setFont(15px, 300, $text-lv-04);
          }
        }
      }
    }
  }
}

.nav-top-user-menu-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-items: flex-start;
  align-items: flex-start;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu > li {
  position: relative;
  flex-basis: 20%;
  line-height: 50px;
  text-align: center;
  background: #f9f9f9;
}
.menu li a {
  display: block;
  width: 146px;
  height: 100%;
}
.menu > li:hover a {
  background: $bg-lv-01;
}
.menu > li:hover .sub {
  display: block;
}
.sub {
  position: absolute;
  top: 50px;
  width: 170px;
  border: 2px solid ghostwhite;
  margin-left: -145px;
  display: none;
  box-sizing: border-box;
}
.sub li {
  width: 170px;
  line-height: 20px;
  background-color: #ffffff;
  // border-radius: 5px;
}

.sub {
  width: 190px;
}

a.user-menu-first {
  padding: 10px;
  padding-left: 30px;
  padding-top: 30px;
  width: 150px;
}

a.user-menu-item {
  padding: 10px;
  padding-left: 30px;
  width: 150px;
}

a.user-menu-last {
  padding: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 150px;
}
