div.reg-rt-container {
  z-index: -1;
  display: block;
  width: 1200px;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  display: -ms-grid;
  display: grid;
  margin: auto;
}

div.reg-rt-container article.reg-rt-a1 {
  display: block;
  width: 1200px;
  height: 600px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b1 {
  display: block;
  width: 1200px;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(224, 224, 224, 0.671);
          box-shadow: 2px 2px 2px 2px rgba(224, 224, 224, 0.671);
  z-index: 3;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b1 div.reg-rt-a1-b1-c1 {
  padding-left: 20px;
  padding-top: 23px;
  font-size: 20px;
  font-weight: 500;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b1 div.reg-rt-a1-b1-c2 {
  padding-right: 20px;
  padding-top: 23px;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  color: #bebebe;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 {
  display: block;
  width: 1200px;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c1 {
  padding-left: 20px;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c1 div.image-preview {
  display: block;
  width: 180px;
  height: 180px;
  padding: 0;
  margin: auto;
  background-color: #eeeeee;
  margin-top: 100px;
  border: 3px solid #78c536;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c1 div.profile-text-box {
  margin-top: 40px;
  text-align: center;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c1 div.profile-text-box p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c1 div.profile-text-box p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
  margin-top: 5px;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c1 div.profile-text-box p:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
  color: #417cdb;
  margin-top: 25px;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 150px;
      grid-template-rows: 1fr 150px;
  padding-top: 30px;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 div.reg-rt-a1-b2-c2-d1-e1 p label {
  display: block;
  width: 130px;
  height: 28px;
  padding: 0;
  margin: 10px;
  background-color: #ffffff;
  padding: 12px 0 0 10px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 div.reg-rt-a1-b2-c2-d1-e1 p input {
  display: block;
  width: 200px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 div.reg-rt-a1-b2-c2-d1-e2 p label {
  display: block;
  width: 130px;
  height: 28px;
  padding: 0;
  margin: 10px;
  background-color: #ffffff;
  padding: 12px 0 0 10px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 div.reg-rt-a1-b2-c2-d1-e2 p input {
  display: block;
  width: 200px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 div.reg-rt-a1-b2-c2-d1-e2 p select {
  display: block;
  width: 212px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../../image/reg-rt-option-bg.png);
  -o-object-fit: contain;
     object-fit: contain;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d1 div.reg-rt-a1-b2-c2-d1-e2 p option {
  display: block;
  width: 200px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d2 div.reg-rt-a1-b2-c2-d2-e1 p label {
  display: block;
  width: 130px;
  height: 28px;
  padding: 0;
  margin: 10px;
  background-color: #ffffff;
  padding: 12px 0 0 10px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d2 div.reg-rt-a1-b2-c2-d2-e1 p input {
  display: block;
  width: 424px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d2 div.reg-rt-a1-b2-c2-d2-e1 p input:nth-child(3) {
  width: 200px;
  margin-left: 10px;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d2 div.reg-rt-a1-b2-c2-d2-e2 p label:first-child {
  display: block;
  width: 130px;
  height: 28px;
  padding: 0;
  margin: 10px;
  background-color: #ffffff;
  padding: 12px 0 0 10px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d2 div.reg-rt-a1-b2-c2-d2-e2 p label {
  display: block;
  width: 50px;
  height: 28px;
  padding: 0;
  margin: 10px;
  background-color: #ffffff;
  padding: 12px 0 0 10px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a1 div.reg-rt-a1-b2 div.reg-rt-a1-b2-c2 div.reg-rt-a1-b2-c2-d2 div.reg-rt-a1-b2-c2-d2-e2 p input {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a2 {
  display: block;
  width: 1200px;
  height: 600px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  margin-top: 80px;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b1 {
  display: block;
  width: 1200px;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(224, 224, 224, 0.671);
          box-shadow: 2px 2px 2px 2px rgba(224, 224, 224, 0.671);
  z-index: 3;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b1 div.reg-rt-a2-b1-c1 {
  padding-left: 20px;
  padding-top: 23px;
  font-size: 20px;
  font-weight: 500;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b1 div.reg-rt-a2-b1-c2 {
  padding-right: 20px;
  padding-top: 23px;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  color: #bebebe;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 {
  padding: 55px;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 div.reg-rt-a2-b2-c1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 div.reg-rt-a2-b2-c1 div {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  margin: auto;
  background-color: #ffffff;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
  vertical-align: middle;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 div.reg-rt-a2-b2-c2 {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 div.reg-rt-a2-b2-c2 p {
  padding-left: 25px;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 div.reg-rt-a2-b2-c2 p input {
  display: block;
  width: 80%;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}

div.reg-rt-container article.reg-rt-a2 div.reg-rt-a2-b2 div.reg-rt-a2-b2-c2 p select {
  display: block;
  width: 85%;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../../image/reg-rt-option-bg.png);
  -o-object-fit: contain;
     object-fit: contain;
}

div.reg-rt-container button {
  display: block;
  width: 20%;
  height: 40px;
  padding: 0;
  margin: auto;
  background-color: #555555;
  padding: 0 0 0 10px;
  margin-bottom: 100px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
