ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header.nav-top-container {
  position: fixed;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 3px 3px #e0e0e0;
          box-shadow: 3px 3px 3px 3px #e0e0e0;
  margin: auto;
  padding-top: 45px;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box {
  width: 1300px;
  height: 50px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 750px 120px 120px 120px 1fr;
      grid-template-columns: 750px 120px 120px 120px 1fr;
  list-style: none;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.nav-top-item {
  text-align: center;
  padding-top: 10px;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.nav-top-item a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #2e2e2e;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.nav-top-item a span {
  display: block;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #9e9e9e;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li:first-child {
  text-align: left;
  padding-top: 0;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.login-user-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 100px 1fr;
      grid-template-columns: 50px 100px 1fr;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.login-user-box div.nav-top-image-box {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  border: 3px solid #417cdb;
  border-radius: 50%;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.login-user-box div.nav-top-image-box img {
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  border: 3px solid #89c923;
  border-radius: 50%;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.login-user-box div.nav-top-name-box {
  display: block;
  width: auto;
  height: auto;
  padding: 7px;
  margin: 0;
  background-color: #ffffff;
  padding-left: 12px;
  text-align: left;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.login-user-box div.nav-top-name-box div:first-child {
  font-size: 15px;
  font-weight: 600;
  color: #2e2e2e;
}

header.nav-top-container nav.nav-top ol.nav-top-item-box li.login-user-box div.nav-top-name-box div:last-child {
  font-size: 15px;
  font-weight: 300;
  color: #9e9e9e;
}

.nav-top-user-menu-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu > li {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  line-height: 50px;
  text-align: center;
  background: #f9f9f9;
}

.menu li a {
  display: block;
  width: 146px;
  height: 100%;
}

.menu > li:hover a {
  background: #ffffff;
}

.menu > li:hover .sub {
  display: block;
}

.sub {
  position: absolute;
  top: 50px;
  width: 170px;
  border: 2px solid ghostwhite;
  margin-left: -145px;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub li {
  width: 170px;
  line-height: 20px;
  background-color: #ffffff;
}

.sub {
  width: 190px;
}

a.user-menu-first {
  padding: 10px;
  padding-left: 30px;
  padding-top: 30px;
  width: 150px;
}

a.user-menu-item {
  padding: 10px;
  padding-left: 30px;
  width: 150px;
}

a.user-menu-last {
  padding: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 150px;
}
