<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Design - init -->
    <link rel="stylesheet" href="/css/comp/init.css" />

    <!-- Design - Comp -->
    <link rel="stylesheet" href="/css/css/comp-basic-box-apply.css" />

    <!-- 구글 웹폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- HTML - Comp - Basic Box -->
    <article class="comp-basic-box-apply-a1">
      <!-- Title : 타이틀 박스 -->
      <div class="comp-basic-box-apply-a1-b1">
        <div class="comp-basic-box-apply-a1-b1-c1">일반정보</div>
        <div class="comp-basic-box-apply-a1-b1-c2">General information</div>
      </div>
      <!-- Conent : 컨텐츠 박스 -->
      <div class="comp-basic-box-apply-a1-b2">
        <div class="comp-basic-box-apply-a1-b2-c1">
          <textarea class="comp-basic-box-apply-a1-b2-c1-d1"></textarea>
          <p></p>
        </div>
      </div>
    </article>
    <!-- / HTML Comp End -->
  </body>
</html>
