<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Design - init -->
    <link rel="stylesheet" href="/css/comp/init.css" />

    <!-- Design - Comp -->
    <link rel="stylesheet" href="/css/comp/comp-top-nav-login.css" />

    <!-- 구글 웹폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- HTML - Comp - Top Navigation Logined - Basic -->
    <header class="comp-top-nav-login-a1">
      <nav class="comp-top-nav-login-a1-b1">
        <ol class="comp-top-nav-login-a1-b1-c1">
          <li class="comp-top-nav-login-a1-b1-c1-d1">
            <a href="/">
              <img src="/image/top-nav-logo.png" alt="" />
            </a>
          </li>

          <li class="comp-top-nav-login-a1-b1-c1-d2">
            <!-- <a href="">About Us<br /><span>About Us</span></a> -->
          </li>

          <li class="comp-top-nav-login-a1-b1-c1-d3">
            <!-- <a href="">장학금 소개<br /><span>About Scholarships</span></a> -->
          </li>

          <li class="comp-top-nav-login-a1-b1-c1-d4">
            <!-- <a href="/auth/registration">회원가입<br /><span>Sign up</span></a> -->
          </li>

          <li
            class="comp-top-nav-login-a1-b1-c1-d5 comp-top-nav-login-user-box"
          >
            <!-- <a href="">로그인<br /><span>Login</span></a> -->
            <div class="comp-top-nav-login-image-box">
              <img src="/image/top-nav-user-img-df.png" alt="" />
            </div>
            <div class="comp-top-nav-login-name-box">
              <div class="comp-top-nav-login-user-name">이용걸</div>
              <div class="comp-top-nav-login-user-type">Remnant</div>
            </div>
            <!-- HTML CSSResult Skip Results Iframe EDIT ON -->
            <div class="comp-top-nav-login-user-menu-box">
              <ul class="comp-top-nav-login-menu">
                <li class="comp-top-nav-login-menu-list">
                  <a class="comp-top-nav-login-user-menu" href="#">
                    <i class="fas fa-align-left"></i>
                  </a>
                  <ul class="comp-top-nav-login-sub">
                    <li class="comp-top-nav-login-user-menu-first">
                      <a href="/"
                        >장학금신청하기<br /><span
                          >Apply for a scholarship</span
                        ></a
                      >
                    </li>
                    <li class="comp-top-nav-login-user-menu-item">
                      <a href="/auth/mypage"
                        >마이페이지<br /><span>my page</span></a
                      >
                    </li>
                    <li class="comp-top-nav-login-user-menu-last">
                      <a href="/auth/logout-process"
                        >로그아웃<br /><span>Log out</span></a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- HTML CSSResult Skip Results Iframe EDIT ON -->
          </li>
        </ol>
      </nav>
    </header>
    <!-- / HTML Comp End -->
  </body>
</html>
