<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Design - init -->
    <link rel="stylesheet" href="/css/comp/init.css" />

    <!-- Design - Comp -->
    <link rel="stylesheet" href="/css/comp/comp-top-nav-sub.css" />

    <!-- 구글 웹폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- HTML - Comp - Top Navigation - Sub -->
    <header class="nav-top-container">
      <nav class="nav-top">
        <ol class="nav-top-item-box">
          <li class="nav-top-item">
            <a href="/auth/registration">
              <img src="/image/top-nav-arrow.png" alt="" />
              <div>
                <span>회원가입 | 렘넌트</span>
                <span>join the membership</span>
              </div>
            </a>
          </li>

          <li class="nav-top-item"></li>
        </ol>
      </nav>
    </header>
    <!-- / HTML Comp End -->
  </body>
</html>
