<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Design - init -->
    <link rel="stylesheet" href="/css/comp/init.css" />

    <!-- Design - Comp -->
    <link rel="stylesheet" href="/css/css/comp-top-nav.css" />

    <!-- 구글 웹폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 어섬폰트 cdn -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- HTML - Comp - Top Navigation - Basic -->
    <header class="comp-top-nav-a1">
      <nav class="comp-top-nav-a1-b1">
        <ol class="comp-top-nav-a1-b1-c1">
          <li class="comp-top-nav-a1-b1-c1-d1">
            <a href="/">
              <img src="/image/top-nav-logo.png" alt="" />
            </a>
          </li>

          <li class="comp-top-nav-a1-b1-c1-d2">
            <!-- <a href="">About Us<br /><span>About Us</span></a> -->
          </li>

          <li class="comp-top-nav-a1-b1-c1-d3">
            <!-- <a href="">장학금 소개<br /><span>About Scholarships</span></a> -->
          </li>

          <li class="comp-top-nav-a1-b1-c1-d4">
            <a href="/auth/registration">회원가입<br /><span>Sign up</span></a>
          </li>

          <li class="comp-top-nav-a1-b1-c1-d5 login-user-box">
            <a href="/auth/login">로그인<br /><span>Login</span></a>
          </li>
        </ol>
      </nav>
    </header>
    <!-- / HTML Comp End -->
  </body>
</html>
